<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="HolidayImp_Core_Core" serializeAs="String">
                <value>http://cswebserve/TimeEntryV2WS_Live/Core.asmx</value>
            </setting>
            <setting name="HolidayImp_Project_Project" serializeAs="String">
                <value>http://cswebserve/TimeEntryV2WS_Live/Project.asmx</value>
            </setting>
            <setting name="HolidayImp_Timesheet_Timesheet" serializeAs="String">
                <value>http://cswebserve/TimeEntryV2WS_Live/Timesheet.asmx</value>
            </setting>
            <setting name="HolidayImp_User_User" serializeAs="String">
                <value>http://cswebserve/TimeEntryV2WS_Live/User.asmx</value>
            </setting>
        </WindowsApplication1.My.MySettings>
    </applicationSettings>
</configuration>
